<main>
<h1 class="text-center">New Property Form</h1>

<br>

<%= form_for(@property) do |form|%>

<div class="text-center">
<h6> Please Enter Property Address: </h6>
  <%= form.text_area :address%>
</div>

<br>

<div class="text-center">
<h6> Is the Property Vacant? </h6> 
<table class="radio-values"> 
  <tr> 
    <td><%= form.label :vacancy, "Yes", value: true%></td>
    <td><%= form.radio_button :vacancy, true%></td>

     <td><%= form.label :vacancy, "No", value: false%></td>
    <td><%= form.radio_button :vacancy, false%></td>
  </tr>
</table>
</div>  

<br>

<div class="text-center">
<h3>Please assign this property to a realty team </h3>
<%= form.collection_select :realtor_id, Realtor.all, :id, :name%>
</div>

<br>

<div class="text-center">
<h3>Please assign this property to a contractor team </h3>
<%= form.collection_select :contractor_id, Contractor.all, :id, :name%>
</div>

<br>
<br>

<div class="text-center">
<h3> Post inspection work list:</h3>
</div>

<div class="text-center">
<h6> Work order for the lawn: </h6>
<%= form.text_area :lawn_care%>
</div>

<br>

<div class="text-center">
<h6> Work order for the plumbing: </h6>
<%= form.text_area :plumbing%>
</div>

<br>

<div class="text-center">
<h6> Work order for the electrical: </h6>
<%= form.text_area :electrical%>
</div>
<br>

<div class="text-center">
<%= form.submit class:"buttonz"%>
</div>

</main>
<% end %>