<h1 class="text-center">New Property Form</h1>

<%= form_for(@property) do |form|%>

<h6> Property Address: </h6>
  <%= form.text_area :address%>

<br>

<h6> Is the Property Vacant? </h6>
  Yes<%= form.radio_button :vacancy, true%>
  No<%= form.radio_button :vacancy, false%>
  

<br>
<h3>Please assign this property to a realty team </h3>
<%= form.collection_select :realtor_id, Realtor.all, :id, :name%>

<br>

<h3>Please assign this property to a contractor team </h3>
<%= form.collection_select :contractor_id, Contractor.all, :id, :name%>

<br>
<br>

<h3> Post inspection work list:</h3>

<h6> Work order for the lawn: </h6>
<%= form.text_area :lawn_care%>

<br>

<h6> Work order for the plumbing: </h6>
<%= form.text_area :plumbing%>

<br>

<h6> Work order for the electrical: </h6>
<%= form.text_area :electrical%>

<br>

<%= form.submit%>

<% end %>