<h1>Property Address: <%= @property.address%></h1>

<br>

<h3> Vacancy: <%= @property.vacancy%> </h3>

<br>

<h2> Work description:</h2>

<br>

<h3>Lawn Care: <%= @property.lawn_care %></h3>

<br>

<h3>Plumbing Work: <%= @property.plumbing %></h3>

<br>

<h3>Electrical Work: <%= @property.electrical %></h3>

<br>

<label> Delete this property </label>
 <%= button_to "Delete Property", @property, method: "delete"%>