<h1><%= @contractor.name%></h1>

<br>

<h2> Contractor Field Specialty </h2>

<br>

<h3>Lawn Care: <%= @contractor.lawn_care %></h3>

<br>

<h3>Plumbing Work: <%= @contractor.plumbing %></h3>

<br>

<h3>Electrical Work: <%= @contractor.electrical %></h3>

<br>

<h2> List of Properties Currently Managed: </h2>

<% @contractor.properties.each do |property|%>
  <%= link_to property.address, property_path(property)%>
  <% end %>
